html, body {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}

nav ul {
    list-style: none; 
    padding-left:0;
}
nav li {
    display:inline;

}
.active {
    color :white;
    background-color:green;
    padding:0.5em;

}